config SHIELD_TOUCAN_LEFT
    def_bool $(shields_list_contains,toucan_left)

config SHIELD_TOUCAN_RIGHT
    def_bool $(shields_list_contains,toucan_right)

config SHIELD_TOUCAN_RIGHT_AZOTEQ
    def_bool $(shields_list_contains,toucan_right_azoteq)
